<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PortafolioApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PortafolioApp.styles.css" asp-append-version="true"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-blue-100 via-purple-100 to-pink-100 min-h-screen">
<header class="bg-white shadow-md py-4 px-6 flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-gray-800 hover:text-blue-600 transition">
        Raul Fernandez
    </a>
    <nav class="flex gap-4">
        <a href="https://www.linkedin.com/in/raul-fernandezch/" target="_blank" class="text-blue-600 hover:text-blue-800 transition font-semibold">
            LinkedIn
        </a>
        <a href="https://github.com/Rchanis" target="_blank" class="text-gray-700 hover:text-black transition font-semibold">
            GitHub
        </a>
    </nav>
</header>
    <main >
        @RenderBody()
    </main>

<footer class="border-t text-gray-500 text-sm py-6 mt-16">
    <div class="max-w-7xl mx-auto px-4 flex flex-col sm:flex-row justify-between items-center">
        <span>&copy; 2025 - RFC Portafolio</span>
    </div>
</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>