@using PortafolioApp.Models


@{

    List<Link> Linksa = new List<Link>
    {
        new Link { Url = "https://www.linkedin.com/in/raul-fernandezch/", Name = "Linkedin" },
        new Link { Url = "https://github.com/Rchanis", Name = "GitHub" },
    };
}

<header class="bg-white dark:bg-gray-900 shadow-md py-4 px-6 flex justify-between items-center transition-colors duration-300">
    <a href="/" class="text-2xl font-bold text-gray-800 dark:text-white hover:text-blue-600 dark:hover:text-blue-400 transition">
        Raul Fernandez
    </a>
    <nav class="flex gap-4">
        @foreach (var link in Linksa){
            <a href="@link.Url" target="_blank"
               class="text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300 transition font-semibold">
                @link.Name
            </a>
        }
        
    </nav>
</header>
